<div class="myhtml">
  <div class="mybody">

    <div class="content">
      <div id="dashboard" class="view"><h2>Dashboard</h2>

        <div class="nodelist">
          <docker  *ngFor="let node of dockerNodes | dockerMap" [container]="node" [class.fail]="node.State!='running'"></docker>
        </div>

      </div>
      <div id="console" class="view"><h2>Console</h2>
        <div class="console" [innerHtml]="dockerConsole" #scrollMe>
        </div>
      </div>
      <!--<div id="cpu" class="view closed"><h2>CPU Load</h2></div>-->
      <!--<div id="memory" class="view closed"><h2>Memory</h2></div>-->
      <!--<div id="dns" class="view closed"><h2>DNS</h2></div>-->
      <!--<div id="graphs" class="view closed"><h2>Graphs &amp; Logs</h2></div>-->
    </div>


  </div>
</div>
