<div class="container-fluid">
  <div class="row">

    <h1>
      Docker Logs
    </h1>
    
      <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200' rel='stylesheet' type='text/css'>
    <div class="container">
      <div class="window">
        <div class="handle">
          <div class="buttons">
            <button class="close">
            </button>
            <button class="minimize">
            </button>
            <button class="maximize">
            </button>
          </div>
          <span class="title"></span>
        </div>
        <div class="terminal" [innerHTML]= "dockerlogs" #scrollMe>

        </div>
      </div>
    </div>

  </div>





</div>



